.find_us {
  /*margin-top: 2em;*/
  width: 100%;
  height: max-content;
  /* margin-bottom: 0.5em; */
  position: relative;
  background: #122541;
  display: grid;
  gap: 1rem;

  & * {
    /*outline: 1px solid red;*/
  }

  & .top-part {
    width: 95%;
    margin: auto;
    display: grid;
    padding: 1%;
    gap: 1rem;
  }
}
.find_us .img_holder {
  position: absolute;
  width: 100%;
  height: 60%;
  overflow: hidden;
}
.find_us img {
  object-fit: cover;
  /*filter: brightness(0.9);*/
}
.find_us .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom right, rgb(0, 0, 0, 0.7), transparent);
  z-index: 2;
}

.find_us .texts_holder {
  z-index: 4;
  /*position: absolute;*/
  /*top: 18%;*/
  /*left: 4%;*/
  color: white;
  text-align: start;
}
.find_us .texts_holder h1 {
  font-size: 3em;
  margin-bottom: 0.1em;
}
.find_us .map {
  /*position: absolute;*/
  width: 100%;
  height: 310px;
  /* background: red; */
  /*top: 40%;*/
  /*left: 4%;*/
  border-radius: 12px;
  overflow: hidden;
  z-index: 7;
}

.find_us .cp {
  color: white;
  width: 100%;
  text-align: center;
}

.find_us .pawtech {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 0.6em;
  color: #04e762;
  /*margin: 0.5em 0 0 0;*/
  padding: 0.4em;
  background: #080f1b;
}
iframe{
  border: none;
}

@media screen and (max-width: 500px) {
  .find_us{
    /*height: 80vh;*/
  }
  .find_us .img_holder {
    /*height: 65%;*/
    /* background: red; */
  }
  .find_us img {
    height: 100%;
  }
  .find_us .texts_holder {
    /*top: 7%;*/
  }
  .find_us .map {
    /*top: 35%;*/
  }
}
