@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");

.projects {
  min-height: 100vh;
  /* background: red; */
}
.projects .projects_section {
}
.projects .title_section {
  color: var(--blue-titles);
  font-size: 2.1em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.4em;
}
.projects .navigation .row.active {
  background: linear-gradient(
    to right,
    var(--accent-color-left),
    var(--accent-color-right)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.projects .no-projects {
  /* background: red; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects .dec {
  font-size: 1.2em;
  font-weight: 600;
  color: var(--accent-color-left);
}
.projects_card {
  /* display: flex; */
  /* height: 400px; */

  padding: 0.1em 0 0.1em 0;
  transition: all 0.5s ease;
  /* background: red; */
  margin-top: 0.5em;
  /* border: 2px solid orange; */
}

.projects_card .title {
  font-size: 1.4em;
  width: 70%;
  font-weight: 600;
  margin: 0.5em;
}

.projects .navigation {
  display: flex;
  /* background: red; */
  align-items: center;
  width: 50%;
  justify-content: space-around;
  font-weight: 600;
}
.projects .row {
  cursor: pointer;
}
/* .projects_card .images_section {
  margin: 2% 0 0 0;
  height: 100vh;
  width: 100%;
  background: var(--secondary-color);
  padding: 0.2em;
} */
.projects_card .img_cards {
  /* background: red; */
  /* background: var(--secondary-color); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 100%; */
  /* width: 70%; */
  margin: 0.5em auto;
  padding: 0.6em;
}

.projects_card .img_container {
  width: 290px;
  height: 300px;
  border-radius: 10px;
  background: white;
  /* margin: 0.3em; */
  overflow: hidden;
  position: relative;
  margin-bottom: 0.7em;
  /* background: red; */
}
.projects_card img {
  object-fit: cover;
  /* width: 100%; */
  height: 100%;
  /* filter: saturate(20%); */
  transition: all 0.5s;
}
.projects_card img:hover {
  filter: saturate(100%);
}

.projects_card .company_title {
  color: black !important;
  font-size: 1.2em;
  margin: 0.5em 0 4px 0.7em;
  font-weight: 600;
}

.img_container:hover img {
  filter: none;
}

.img_cards:hover .img_container:not(:hover) img {
  filter: saturate(30%);
}

.projects .more_projects {
  color: var(--accent-color-right);
  margin: 0.4em 0 0 0.5em;
  cursor: pointer;
  transition: all 0.5s;
  width: 15%;
}
.r-arr {
  margin-left: 0;
  transition: all 0.5s;
}
.projects .more_projects:hover .r-arr {
  color: var(--accent-color-left);
  margin-left: 0.5em;
}
.projects .more_projects:hover {
  color: var(--accent-color-left);
}

@media screen and (max-width: 768px) {
  .projects {
    /* background: red; */
    margin-top: -25px;
  }
  .projects .navigation {
    width: 100%;
    flex-direction: column;
    align-items: start;
    margin-left: 0.5em;
  }
  .projects .navigation .row {
    margin-bottom: 0.5em;
  }

  .projects .navigation .row.active {
    border-bottom: 1px solid var(--primary-color);
  }

  .projects_card .img_cards {
    flex-wrap: wrap;
    /* background: red; */
    /* width: 95%; */
  }

  .projects_card .img_container {
    width: 180px; /*  165*/
    width: 47%;
    height: 190px;
    margin-bottom: 0.9em;
  }
  .projects .more_projects {
    color: var(--accent-color-right);
    margin: -0.5em 0 1.9em 0.5em;
    cursor: pointer;
    transition: all 0.5s;
    width: 100%;
  }
}
@media screen and (max-width: 382px) {
  .projects_card .img_container {
    width: 47%;
    height: 190px;
    margin-bottom: 0.9em;
  }
}
/* @media screen and (max-width: 382px) {
  .projects_card .img_container {
    width: 160px;
    height: 190px;
    margin-bottom: 0.9em;
  }
} */
/* 385 */
