@import url("https://fonts.googleapis.com/css2?family=Sofadi+One&display=swap");

.projects {
  height: 100vh;
}
.projects .title_section {
  color: var(--blue-titles);
  font-size: 2.1em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.4em;
}
.projects .navigation .row.active{
    background: linear-gradient(to right, var(--accent-color-left),var(--accent-color-right)); /* Gradient colors */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projects_card {
  /* display: flex; */
  height: 450px;
  /* background: rgba(178, 173, 173, 0.2); */
  margin-bottom: 0.3em;
  padding: 0.7em 0 0.7em 0;
  transition: all 0.5s ease;
}

.projects_card .title {
  font-size: 1.4em;
  width: 70%;
  font-weight: 600;
  margin: 0.5em;
}

.projects .navigation{
    display: flex;
    /* background: red; */
    align-items: center;
    width: 50%;
    justify-content: space-around;
    font-weight: 600;
}
.projects .row{
    cursor: pointer;
}
.projects_card .images_section{
    margin: 2% 0 0 0;
    height: 100vh;
    width: 100%;
    background: var(--secondary-color);
    padding: .2em;
}
.projects_card .img_cards{
    /* background: red; */
    background: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 1% 0 1% 0;
    padding: .2em;
}
.projects_card .img_container{
width: 200px;
height: 300px;
border-radius: 10px;
background: white;
margin: .3em;
}
.projects_card img{
    object-fit: contain;
    /* width: 100%; */
    height: 100%;
    filter: saturate(10%);
}
.projects_card img:hover{
    object-fit: contain;
    /* width: 100%; */
    height: 100%;
    filter: saturate(100%);
}

.projects_card .company_title{
    color: black!important;
    font-size: 1.2em;
    margin: 6px 0 4px 0;
    font-weight: 600;
}