.services {
  min-height: 100vh;

  /* clip-path: circle(33% at 0 0);
  background: red; */
}
.services .title {
  width: 100%;
  text-align: center;
  padding-top: 1.3em;
  color: var(--blue-titles);
  font-weight: 600;
  font-size: 1.2em;
}
.services .cards_section {
  /* background: red; */
  width: 90%;
  margin: 0 auto;
  padding: 1.5em 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.service_card {
  position: relative;
  min-width: 500px;
  width: 49%;
  min-height: 230px;
  border-radius: 8px;
  border: 0.4px solid transparent;
  overflow: hidden;
  margin-bottom: 1.5em;
}
.service_card img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  z-index: -1;
  scale: 1.2;
  filter: brightness(0.7);
}
.service_card .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #091321);
}
.service_card .heading {
  color: white;
  padding: 0.8em 0 0 1.3em;
  /* background: red; */
}
.service_card .heading h2 {
  font-size: 1.8em;
}
.service_card .content_section {
  /* background: red; */
  color: white;
  position: absolute;
  bottom: 35px;
  height: 120px;
  width: 95%;
  margin: 0 auto;
  z-index: 1;
  padding-left: 20px;
}
.service_card .content_section .content {
  text-wrap: wrap;
  word-break: keep-all;
}
.service_card .btn_section {
  position: absolute;
  bottom: 10px;
  left: 20px;
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .services {
    /* background: red; */
  }

  .services .cards_section {
    /* background: red; */
    width: 100%;
    margin: 0 auto;

    flex-direction: column;
  }

  .service_card {
    width: 96%;
    min-width: 350px;
    height: 250px;
    margin: 0.7em 0.5em;
    /* background-color: red; */
  }

  .service_card .content_section {
  
    bottom: 70px;
    height: 120px;
    width: 95%;
  }
  .service_card .heading {
    color: white;
    padding: 0.8em 0 0 1.3em;
    /* background: red; */

    font-size: .8em;

  }

}
