.testimonials {
  min-height: 100vh;
  /* background: red; */
  /* background: #f0f0f0; */
}

.testimonials .title_section {
  text-align: center;
  color: var(--blue-titles);
  padding-top: 2em;
  font-size: 1.2em;
}

.testimonials .cards_section {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  padding: 0.5em 2em 2em 2em;
  /* background: red; */
  background: #f0f0f0;
  /* background: #ecf6fe;  */
  /* background: var(--secondary-color); */
  /* overflow-x: auto; */
}

.testimonials .slider {
  display: flex;
  justify-content: center;
  transition: transform 0.5s ease; /* Smooth transition */
}

.navigation_buttons {
  text-align: center;
  margin-top: 1em;
}

.navigation_buttons button {
  margin: 0 1em;
  padding: 0.5em 1em;
  border: none;
  background-color: var(--accent-color-right);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* TESTIMONIAL CARD */

.testimonial_card {
  background: white;
  width: 350px; /*380*/
  min-height: 300px;
  height: 340px;
  min-width: 250px; /*380*/
  border-radius: 10px;
  padding: 0.5em;
  position: relative;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.5em;
}
@media screen and (max-width: 500px) {
  .testimonial_card {
    width: 375px; /*380*/
    height: 320px;
    min-width: none;
    margin: 0 auto;
  }

  .testimonials .cards_section {
    padding: 0.5em 0em 2em 0em;
  }


}

.testimonial_card .dp {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  overflow: hidden;
  background: rgb(233, 231, 231);

  margin: 1em 0;
}

.testimonial_card img {
  width: 100%;
  object-fit: cover;
}

.testimonial_card .header {
  margin-bottom: 0.5em;
}

.testimonial_card .name {
  font-weight: 700;
  color: var(--accent-color-left);
  color: var(--blue-titles);
  /* background: red; */
  width: 95%;
  margin: 0 auto;
}

.testimonial_card .title {
  font-style: italic;
  /* background: red; */
  width: 95%;
  margin: 0 auto;
}

.testimonial_card .content {
  width: 95%;
  margin: 0.2em auto;
  color: #797979;
  /* background: red; */
}

.testimonials .btnSection {
  /* background-color: red; */
  text-align: center;
  margin-top: 3.9em;
}

/*  SWIPER JS - PAGINATION STYLES */
.swiper-pagination {
  bottom: 0px !important;
  text-align: center;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #2c599c !important;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 0.7;
  transition: background 0.3s, opacity 0.3s;
}

.swiper-pagination-bullet-active {
  background: #2c599c !important;
  /* background: linear-gradient(
    to right,
    var(--accent-color-left),
    var(--accent-color-right)
  ) !important; */
  opacity: 1;
}

.swiper-pagination-bullet:hover {
  background: #0056b3;
  opacity: 1;
}
