@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

h1,
h2,
h3 {
  font-family: "Marcellus", system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root {
  /* font-family: "Marcellus", system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Poppons", system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

  --primary-color: #080f1b;
  --secondary-color: #244981;
  --background-color: #f5f5f5;
  --accent-color-left: #00abe7;
  --accent-color-right: #18d95f;
  --bg-color: #f8f8f8;
  --blue-titles: #2c599c;
}

.open-positions-card {
  width: 90%;
  min-height: 100px;
  background: white;
  margin-top: 10px;
  border-radius: 8px;
  padding: 0.3em;
  border: 1px solid #f0f0f0;
}
.open-positions-card .upper {
  border-bottom: 1px solid #f0f0f0;
  padding: 0.3em 0;
}
.open-positions-card .lower {
  padding: 0.3em 0.3em;
}
.open-positions-card .postion-title {
  font-family: "Marcellus", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  font-weight: 600;
}
.open-positions-card .accordion-content {
  /* background: red; */
  padding: 0.4em 0;
}
.accordion-content h3 {
  margin-bottom: 0.2em;
}
.accordion-content ul {
  margin-left: 1.4em;
}
.accordion-content li {
  margin-bottom: 0.3em;
}

.mini-title {
  margin-bottom: 0.2em;
  display: flex;
  align-items: center;
  /* background: red; */
  width: 240px;
  justify-content: space-between;
  p {
    font-size: 1.2em;
  }
  & .line {
    width: 65px;
    height: 1px;
    background: red;
    line-height: 1px;
  }
}

.mission-v-card {
  width: 300px;
  height: 350px;
  background-color: #f2f2f2;

  border-radius: 9px;
}
.mission-v-card .title_section {
  /* background: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .index {
    width: 150px;
    height: 150px;
    /* background: white; */
    margin: 0.5em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      /* object-fit: cover; */
    }
  }

  & .title {
    font-size: 1.8em;
    font-weight: 600;
    font-family: "Marcellus", system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

.mission-v-card .content_area {
  /* background: red; */
  display: flex;
  margin: 0.9em 1.2em;
  font-weight: 500;
  color: #858585;
}

.mission-v-card .list_content {
  /* background: red; */
  li {
    margin-bottom: 0.5em;
    list-style: none;
  }
}

.team-card {
  width: 80%;
  height: 200px;

  /* background: red; */
  margin-bottom: 1.7em;
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;

  & .profile {
    /* order: 2; */
    /* padding: 0.5em; */
    width: 20%;
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-items: center;

    & .name-section {
      & .personName {
        font-size: 1.1em;
        color: #1e3e6f !important;
      }
      & .designation {
        font-size: 0.9em;
        color: #1e3e6f;
      }
    }
    & .team-dp {
      width: 150px;
      height: 150px;

      border-top: 2.5px solid var(--accent-color-right);
      border-left: 2.5px solid var(--accent-color-right);
      border-right: 2.5px solid var(--accent-color-left);
      border-bottom: 2.5px solid var(--accent-color-left);
      border-radius: 50%;
      display: grid;
      place-content: center;
      overflow: hidden;
      align-self: flex-start;

      img {
      }
      /* background: red; */
      /*  */
    }
  }
  & .content {
    overflow: hidden;

    width: 60%;
    height: 90%;
    height: 150px;
    /* background: yellow; */
    font-family: "Poppins", system-ui, Avenir, Helvetica, Arial, sans-serif;
    background: white;
    margin-top: 10%;
    margin-left: -14%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0.8em;
    border-radius: 5px;

    & p {
      margin-bottom: 0.7em;
      font-size: .9em;
      height: 90%;
      word-wrap: break-word;
      /* background: red; */
    }
  }
}
.reverse {
  flex-direction: row-reverse;
  float: right;
  & .profile {
    & .team-dp {
      align-self: flex-end;
      margin-right: 0.6em;

      img {
        scale: 0.7;
      }
    }
  }

  & .content {
    margin-right: -30%;
  }
}
@media screen and (max-width: 768px) {
  .team-card {
    /* background: red; */
    width: 100%;
    /* height: 430px; */
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 640px) {
  .mission-v-card {
    /* background-color: red!important; */
    width: 110%;
    margin-bottom: 1.6em;
  }
  .mission-v-card .title_section {
    /* background: red; */
  }
  .mission-v-card .index {
    /* background: green; */
  }

  .team-card {
    /* background: red; */
    width: 100%;
    height: 440px;
    margin-bottom: 2em;
    flex-direction: column;
    align-items: start;

    & .content {
      height: 300px !important;
      width: 90%;
      margin-left: 0;

      & p {
        height: 80%;
        /* background: red; */
        overflow: hidden;
      }
    }

    & .profile {
      /* background: green; */
      width: 50%;
      margin-left: 0.4em;

      & .name-section {
        width: 100%;
        /* background: red; */

        & .personName {
          font-size: 1.2em;
          /* background: yellow; */
        }
      }
    }
  }

  .reverse {
    & .profile {
      align-self: flex-end;
      margin-left: 0;
    }
    & .content {
      margin-left: 2em;
    }
  }
}
